CS_SERVER_FINAL/CS_Client_MAIN/Connected Services/RoutingService/ItineraryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ItineraryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8090/MyService/Middleware/RoutingServer?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8090/MyService/Middleware/RoutingServer?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8090/MyService/Middleware/RoutingServer?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8090/MyService/Middleware/RoutingServer?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Device.Location" />
      <xsd:import schemaLocation="http://localhost:8090/MyService/Middleware/RoutingServer?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://localhost:8090/MyService/Middleware/RoutingServer?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/CS_Server_Main.Exposed.Objects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="I_ItineraryService_getCorrectAdress_InputMessage">
    <wsdl:part name="parameters" element="tns:getCorrectAdress" />
  </wsdl:message>
  <wsdl:message name="I_ItineraryService_getCorrectAdress_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCorrectAdressResponse" />
  </wsdl:message>
  <wsdl:message name="I_ItineraryService_getCoordonateWithUniqueCorrectAdress_InputMessage">
    <wsdl:part name="parameters" element="tns:getCoordonateWithUniqueCorrectAdress" />
  </wsdl:message>
  <wsdl:message name="I_ItineraryService_getCoordonateWithUniqueCorrectAdress_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCoordonateWithUniqueCorrectAdressResponse" />
  </wsdl:message>
  <wsdl:message name="I_ItineraryService_getItinerary_InputMessage">
    <wsdl:part name="parameters" element="tns:getItinerary" />
  </wsdl:message>
  <wsdl:message name="I_ItineraryService_getItinerary_OutputMessage">
    <wsdl:part name="parameters" element="tns:getItineraryResponse" />
  </wsdl:message>
  <wsdl:portType name="I_ItineraryService">
    <wsdl:operation name="getCorrectAdress">
      <wsdl:input wsaw:Action="http://tempuri.org/I_ItineraryService/getCorrectAdress" message="tns:I_ItineraryService_getCorrectAdress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I_ItineraryService/getCorrectAdressResponse" message="tns:I_ItineraryService_getCorrectAdress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCoordonateWithUniqueCorrectAdress">
      <wsdl:input wsaw:Action="http://tempuri.org/I_ItineraryService/getCoordonateWithUniqueCorrectAdress" message="tns:I_ItineraryService_getCoordonateWithUniqueCorrectAdress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I_ItineraryService/getCoordonateWithUniqueCorrectAdressResponse" message="tns:I_ItineraryService_getCoordonateWithUniqueCorrectAdress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getItinerary">
      <wsdl:input wsaw:Action="http://tempuri.org/I_ItineraryService/getItinerary" message="tns:I_ItineraryService_getItinerary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/I_ItineraryService/getItineraryResponse" message="tns:I_ItineraryService_getItinerary_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_I_ItineraryService" type="tns:I_ItineraryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getCorrectAdress">
      <soap:operation soapAction="http://tempuri.org/I_ItineraryService/getCorrectAdress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCoordonateWithUniqueCorrectAdress">
      <soap:operation soapAction="http://tempuri.org/I_ItineraryService/getCoordonateWithUniqueCorrectAdress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getItinerary">
      <soap:operation soapAction="http://tempuri.org/I_ItineraryService/getItinerary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ItineraryService">
    <wsdl:port name="BasicHttpBinding_I_ItineraryService" binding="tns:BasicHttpBinding_I_ItineraryService">
      <soap:address location="http://localhost:8090/MyService/Middleware/RoutingServer" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>