CS_SERVER_FINAL/CS_Client_MAIN/Connected Services/RoutingService/RoutingServer2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8090/MyService/Middleware/RoutingServer?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8090/MyService/Middleware/RoutingServer?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/CS_Server_Main.Exposed.Objects" />
  <xs:complexType name="Itinerary">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="bbox" nillable="true" type="q1:ArrayOfdouble" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CS_Server_Main.Exposed.Objects" minOccurs="0" name="metadata" nillable="true" type="q2:Metadata" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CS_Server_Main.Exposed.Objects" minOccurs="0" name="routes" nillable="true" type="q3:ArrayOfRoute" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Itinerary" nillable="true" type="tns:Itinerary" />
</xs:schema>