CS_SERVER_FINAL/CS_Server_Main/Connected Services/JCDecaux_API/ProxyCache5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CS_ProxyCache_MAIN.Exposed.Objects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CS_ProxyCache_MAIN.Exposed.Objects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8091/MyService/Middleware/ProxyCache?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="JCContrat">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="cities" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="commercial_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="country_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JCContrat" nillable="true" type="tns:JCContrat" />
  <xs:complexType name="JCStation">
    <xs:sequence>
      <xs:element minOccurs="0" name="adress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="banking" type="xs:boolean" />
      <xs:element minOccurs="0" name="bonus" type="xs:boolean" />
      <xs:element minOccurs="0" name="connected" type="xs:boolean" />
      <xs:element minOccurs="0" name="contractName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastUpdate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mainStands" nillable="true" type="tns:JCStands" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="number" type="xs:int" />
      <xs:element minOccurs="0" name="overflow" type="xs:boolean" />
      <xs:element minOccurs="0" name="overflowStands" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="position" nillable="true" type="tns:Position" />
      <xs:element minOccurs="0" name="shape" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="totalStands" nillable="true" type="tns:JCStands" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JCStation" nillable="true" type="tns:JCStation" />
  <xs:complexType name="JCStands">
    <xs:sequence>
      <xs:element minOccurs="0" name="availabilities" nillable="true" type="tns:availabilities" />
      <xs:element minOccurs="0" name="capacity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JCStands" nillable="true" type="tns:JCStands" />
  <xs:complexType name="availabilities">
    <xs:sequence>
      <xs:element minOccurs="0" name="bikes" type="xs:int" />
      <xs:element minOccurs="0" name="electricalBikes" type="xs:int" />
      <xs:element minOccurs="0" name="electricalInternalBatteryBikes" type="xs:int" />
      <xs:element minOccurs="0" name="electricalRemovableBatteryBikes" type="xs:int" />
      <xs:element minOccurs="0" name="mechanicalBikes" type="xs:int" />
      <xs:element minOccurs="0" name="stands" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="availabilities" nillable="true" type="tns:availabilities" />
  <xs:complexType name="Position">
    <xs:sequence>
      <xs:element minOccurs="0" name="latitude" type="xs:double" />
      <xs:element minOccurs="0" name="longitude" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Position" nillable="true" type="tns:Position" />
</xs:schema>