CS_CLIENT/CS_CLIENT/Connected Services/ItinearyService/Itinerary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8090/Middleware/Itinerary?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8090/Middleware/Itinerary?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GeoCoordinatePortable" />
  <xs:import schemaLocation="http://localhost:8090/Middleware/Itinerary?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="getCorrectAdress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="input" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCorrectAdressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getCorrectAdressResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCoordonateWithUniqueCorrectAdress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correctAdrress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCoordonateWithUniqueCorrectAdressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GeoCoordinatePortable" minOccurs="0" name="getCoordonateWithUniqueCorrectAdressResult" nillable="true" type="q2:GeoCoordinate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getItinerary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="end" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getItineraryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getItineraryResult" nillable="true" type="q3:Itinerary_OBJ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>