CS_CLIENT/CS_CLIENT/Connected Services/ItinearyService/Itinerary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="toString">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="toStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="toStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getItinerary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="arrival" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getItineraryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>